<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            font-family:'Courier New', Courier, monospace;
        }
    </style>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login!</h1>
    <% if (locals.error) { %>
        <h1 style="color:red">Wrong credentials, please try again</h1>
    <% } %>
    <form method="POST" action="/user/login">
        <legend>
            <label>Email:</label>
            <input type="text" required name="email" placeholder="ABC123@mail.com"/>
        </legend>
        <legend>
            <label>Password:</label>
            <input type="text" required name="password" placeholder="****"/>
        </legend>
        <button type="submit">Login!</button>
    </form>
</body>
</html>